
#auto_saved_files#
fp-info-cache
MCU Datalogger-backups/*
MCU_Datalogger_Gerber/*
~MCU Datalogger.kicad_sch.lck
2_layer_MCU_Datalogger_Gerbers/
4_layer_MCU_Datalogger_Gerbers/
~MCU Datalogger.kicad_pcb.lck
.gitignore

